.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

.icon {
  border: 1px solid #000;
  border-radius: 50%;
  border-width: thin;
}