.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

.icon {
  border-radius: 50%;
  border-width: thin;
  box-shadow: 0 0 0 1px rgba(31, 35, 40, 0.15);
}