.main {
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin-bottom: 30px;
}

.icon {
  border-radius: 50%;
  border-width: thin;
  box-shadow: 0 0 0 1px rgba(31, 35, 40, 0.15);
}

.getGGB {
  margin-top: 30px;
  margin-bottom: 30px;
}